body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    margin-top: 1vw;
    display: grid;
    width: 40vw;
    height: 40vw;
    justify-content: center;
}

.grid-square {
    border: solid;
    border-width: thin;
    width: 2.5vw;
    height: 2.5vw;
}