body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    margin-top: 1vw;
    background-color: white;
    display: grid;
    justify-content: center;
}

.grid-square {
    border: solid;
    border-width: thin;
}

.grid-drawn {
    background-color: blue;
}